*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*header*/

.logo{
    height: 130px;
}
header .allhead{
    display: flex;
    align-items: center;
    margin: 10px;
}

header ul li {
    list-style: none;
}

header .ubright{
    display: flex;
    align-items: right;
    gap: 20px;
}


header .link {
    gap: 20px;
    background-color: #a98062;
    border-radius: 10px 10px 10px 10px;
    padding: 3px;
    border-top: 3px black solid;
    border-right: 3px black solid;
    /* police*/
    font-family: "New Rocker", serif;
    font-weight: 400;
    font-style: normal;
    
}

.link:hover {
    color: white;
}


header .line{
    display: flex;
    align-items: center;
    border-top: 2px black solid;
    border-bottom: 2px black solid;
    padding: 20px;
    gap: clamp(50px, 90vw, 750px);
    box-sizing: border-box;
}

header .userside{
    display: flex;
    gap: 10px;
}

header .pagelink{
    display: flex;
    justify-content: flex-end;
    gap: 15px;
}

/*footer*/
footer ul{
    background-color: #a98062;
    padding: 30px;
    display: flex;
    align-items: center;
    gap: 20px;
}

footer li {
    list-style: none;
}
footer .ContactF {   
    /*police*/
    font-family: "New Rocker", serif;
    font-weight: 400;
    font-style: normal;
}